<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swipper@10/swipper-bundle.min.css"/>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style4.css">
</head>
<body>


    <div id="overlay"></div>
        <div id="mobile-menu" class="mobile-main-menu-nav" >
            <ul>
                 <li><a href="watch.html">Watches</a></li>
                <li><a href="book.html">Books</a></li>
                <li><a href="food.html">Food</a></li>
                <li><a href="shoes.html">Footcap</a></li>
                <li><a href="furniture.html">Furniture</a></li>
                <li><a href="shop.html">Shop</a></li>

                 <li class="mobile-only"><a href="login.html">Login</a></li>
                 <li class="mobile-only"><a href="shop.html">Shop</a></li>
                 <li class="mobile-only"><a href="blog.html">blog</a></li>
                 <li class="mobile-only"><a href="about.html">about</a></li>
                 <li class="mobile-only"><a href="contact.html">contact</a></li>
                 <li class="mobile-only"><a id="lg-bag" href="cart.html"><i class="fa fa-shopping-basket" ></i></a></li>

            </ul>
        </div>

        <header class="main-header-nav">
            <div class="logo-nav">
                <a href="index.html">
                    <img src="../static/images/logo.png" alt="">
                </a>
            </div>
            <nav class="desktop-main-menu-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a id="lg-bag" href="cart.html"><i class="fa fa-shopping-basket" ></i></a></li>
                </ul>
            </nav>
        </header>

        <!-- HAMBURGER MAIN MENU -->
        <button id="menu-btn-nav" class="hamburger" type="button">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>



        <!-- MAIN BODY -->
            <!--About-->
    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="../static/images/Food-Plate.png">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    We are a business organization which tries to make your life easier through our amaizing products and our services. We offer free delivery to our custumers who order for goods online. Our organization has seen nothing ut break throughs since its establishment may years ago. Customers who frequently shop in any of our stores accross the country are awarded shopping vouchers after a specific duration of time as a way of showing gratitude.
                </p>
            </div>

        </div>

        <a href="#" class="about_btn">Order Now</a>

    </div>


    <!--Menu-->
    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/buger.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Buger</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/pasta.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>pasta</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/lasagna.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>lasagna</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/chocolate_Drink.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Drink</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/pizza.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>pizza</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/Hot_dog.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Hot Dog</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/juse.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Juice</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/biryani.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Biryani</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/chocolate.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Chocolate</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/ice_cream.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Ice Cream</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/Spanchi.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Spanchi</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../static/images/sandwich.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sandwich</h2>
                    <p>
                        This delicasy fas been prepared by experts hence giving it a great taste.
                    </p>
                    <h3>Ksh 320.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
        </div>

    </div>


    <!--Gallary-->
    <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="../static/images/gallary_1.jpg">

                <h3>Food</h3>
                <p>
                    Order now to have a magical taste that will leave you in a world of wonder due it's great taste 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="../static/images/gallary_2.jpg">

                <h3>Food</h3>
                <p>
                    Order now to have a magical taste that will leave you in a world of wonder due it's great taste 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="../static/images/gallary_3.jpg">

                <h3>Food</h3>
                <p>
                    Order now to have a magical taste that will leave you in a world of wonder due it's great taste 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="../static/images/gallary_4.jpg">

                <h3>Food</h3>
                <p>
                    Order now to have a magical taste that will leave you in a world of wonder due it's great taste
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="../static/images/gallary_5.jpg">

                <h3>Food</h3>
                <p>
                    Order now to have a magical taste that will leave you in a world of wonder due it's great taste 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="../static/images/gallary_6.jpg">

                <h3>Food</h3>
                <p>
                    Order now to have a magical taste that will leave you in a world of wonder due it's great taste 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

        </div>

    </div>


    <!--Order-->
    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="../static/images/order_image.png">
            </div>

            <form action="#">

                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="you number">
                </div>

                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how many order">
                </div>

                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="you Address">
                </div>

                <a href="#" class="order_btn">Order Now</a>

            </form>

        </div>

    </div>


    <!--Team-->
    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="../static/images/chef1.png">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Our amazing chef to ensure you have a taste to remember</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="../static/images/chef2.png">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Our amazing chef to ensure you have a taste to remember.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="../static/images/chef3.jpg">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Our amazing chef to ensure you have a taste to remember</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="../static/images/chef4.jpg">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Our amazing chef to ensure you have a taste to remember</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>

        
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Signup For Newsletters</h4>
                <p>Get email updates about our latest shop and <span>special offers</span> </p>
            </div>

            <div class="form">
                <input type="email" name="" id="" placeholder="Enter Your email">
                <button class="normal">Signup</button>
            </div>
        </section>

      <!-- FOOTER -->
        <!-- SECTIONJ -->
        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="../static/images/logo.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address</strong>:412 Sare Awendo</p>
                 <p><strong>Phone</strong>:+254 111 222 333</p>
                  <p><strong>Hour</strong>:10:00-18:00 mon-sat </p>
                  <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                  </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Delivery Informatio</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Card</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>

            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store Google Play</p>
                <div class="row">
                    <img src="../static/images/app.jpg" alt="">
                    <img src="../static/images/play.jpg" alt="">
                </div>
                <p>Secure Payment Gateway</p>
                <img src="../static/images/pay.png" alt="">
            </div>

            <div class="copyright">
                <p>&copy; 2024 Ecommerce</p>
            </div>
        </footer>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init();
</script>


            <script>

            const btn = document.getElementById('menu-btn-nav');
            const overlay = document.getElementById('overlay');
            const menu = document.getElementById('mobile-menu');

            btn.addEventListener('click', navToggle);
            document.addEventListener('scroll', scrollPage);

            function navToggle() {
            btn.classList.toggle('open');
            overlay.classList.toggle('overlay-show')
            document.body.classList.toggle('stop-scrolling');
            menu.classList.toggle('show-menu');
        }

        </script>

</body>
</html>