<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swipper@10/swipper-bundle.min.css"/>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>


    <div id="overlay"></div>
        <div id="mobile-menu" class="mobile-main-menu-nav" >
            <ul>
              <li><a href="watch.html">Watches</a></li>
                <li><a href="book.html">Books</a></li>
                <li><a href="food.html">Food</a></li>
                <li><a href="shoes.html">Footcap</a></li>
                <li><a href="furniture.html">Furniture</a></li>
                <li><a href="shop.html">Shop</a></li>

                 <li class="mobile-only"><a href="login.html">Login</a></li>
                 <li class="mobile-only"><a href="shop.html">Shop</a></li>
                 <li class="mobile-only"><a href="blog.html">blog</a></li>
                 <li class="mobile-only"><a href="about.html">about</a></li>
                 <li class="mobile-only"><a href="contact.html">contact</a></li>
                 <li class="mobile-only"><a id="lg-bag" href="cart.html"><i class="fa fa-shopping-basket" ></i></a></li>

            </ul>
        </div>

        <header class="main-header-nav">
            <div class="logo-nav">
                <a href="index.html">
                    <img src="../static/images/logo.png" alt="">
                </a>
            </div>
            <nav class="desktop-main-menu-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a id="lg-bag" href="cart.html"><i class="fa fa-shopping-basket" ></i></a></li>
                </ul>
            </nav>
        </header>

        <!-- HAMBURGER MAIN MENU -->
        <button id="menu-btn-nav" class="hamburger" type="button">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>



    <!-- Hero Start -->
    <section class="hero">
        <div class="hero-main">
            <div data-aos="fade-right" data-aos-duration="3000" class="hero-info">
                <h1>Modern Interior Design</h1>
                <p>Get our state-of-the art furniture at an affordable price</p>
                <div class="btns">
                    <button >Shop Now</button>
                    <button>Explore</button>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="3000"  class="hero-img">
                <div class="dots"><img src="../static/images/dots-light.svg" alt=""></div>
                <img src="../static/images/couch.png" alt="">
            </div>
        </div>
    </section>
    <!-- Hero end -->

    <!-- Product section start -->
    <section class="product-section">
        <div class="product-main">
            <div data-aos="fade-left" data-aos-duration="3000" class="product-info">
                <h3>Crafted with exelent Materials</h3>
                <p>The products have been crated using high quality products to ensure durability</p>
                <a href="shop1.html"><button>Explore</button></a>
            </div>
            <div data-aos="fade-right" data-aos-duration="3000" class="product-card">
                <div class="product-item">
                    <div class="shopoverlay">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <img src="../static/images/product-1.png" alt="">
                    <h4>Nordic Chair</h4>
                    <h3>Ksh 1500.00</h3>
                </div>
                                <div class="product-item">
                    <div class="shopoverlay">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <img src="../static/images/product-2.png" alt="">
                    <h4>Nordic Chair</h4>
                    <h3>Ksh 1500.00</h3>
                </div>
                                <div class="product-item">
                    <div class="shopoverlay">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <img src="../static/images/product-3.png" alt="">
                    <h4>Nordic Chair</h4>
                    <h3>Ksh 1500.00</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Product section end -->


    <!-- Why choose us start -->
    <section class="whychooseus">
        <div class="whychooseus-main">
            <div data-aos="fade-right" data-aos-duration="3000" class="whychooseus-info">
                <h3>Why Choose Us</h3>
                <p>We put our customer's interest first making sure that their needs are satisfied in the most appropriate way possibe</p>
                <div data-aos="fade-right" data-aos-duration="3000" class="whychooseus-card">
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="../static/images/truck.svg" alt="">
                        </div>
                        <h3>Fast &amp; Free Shipping</h3>
                        <p>Goods ordered by our customers will be delivered to them in just a matter of minutes as we have numerous stores accross the country </p>
                    </div>

                      <div class="feature">
                        <div class="feature-icon">
                            <img src="../static/images/bag.svg" alt="">
                        </div>
                        <h3>Easy to shop</h3>
                        <p>Our customers can shop online from our website hence does not physically have to come to any of our stores</p>
                    </div>

                      <div class="feature">
                        <div class="feature-icon">
                            <img src="../static/images/support.svg" alt="" class="imf-fluid">>
                        </div>
                        <h3>24/7 support</h3>
                        <p>Our frequent customers are offered discounts after a specific period of time and also stand a chance of being awarded shopping vouchers</p>
                    </div>

                      <div class="feature">
                        <div class="feature-icon">
                            <img src="../static/images/return.svg" alt="" class="imf-fluid">
                        </div>
                        <h3>Hassle Free Returns</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, explicabo.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="3000" class="whychooseus-img">
                <div class="dots2"><img src="../static/images/dots-yellow.svg" alt=""></div>
                <img src="../static/images/why-choose-us-img.jpg" alt="" width="600px" height="600px">
            </div>
        </div>
    </section>
    <!--Why choose us end  -->


    <!-- We help section start -->
    <section class="wehelp">
        <div class="wehelp-main">
            <div data-aos="fade-right" data-aos-duration="3000"  class="wehelp-img">
                <img src="../static/images/img-grid-1.jpg" alt="">
                <img src="../static/images/img-grid-2.jpg" alt="">
                <img src="../static/images/img-grid-3.jpg" alt="">
                <img src="../static/images/dots-green.svg" alt="">
            </div>

            <div data-aos="fade-left" data-aos-duration="3000"  class="wehelp-info">
                <h2>Services our customers are elligle to.</h2>
                <ul>
                    <li><p>Replacement of damaged goods during transportation</p></li>
                    <li><p>Free delivery of goods</p></li>
                    <li><p>Affordable prices</p></li>
                    <li><p>High quality products</p></li>
                </ul>
                <button>Explore</button>
            </div>
        </div>
    </section>
    <!-- We help section end -->


     <!-- Popular Product section Start -->
     <section class="popular-products">
        <div data-aos="fade-right" data-aos-duration="3000"   class="popular-product">
            <div class="popular-product-img">
                <img src="../static/images/product-1.png" alt="">
            </div>
            <div class="popular-product-info">
                <h3>Nordic Chair</h3>
                <p>Amazing chair to ensure your comfort</p>
                <a href="#">Read More</a>
            </div>
        </div>

         <div class="popular-product">
            <div class="popular-product-img">
                <img src="../static/images/product-2.png" alt="">
            </div>
            <div class="popular-product-info">
                <h3>Nordic Chair</h3>
                <p>Amazing chair to ensure your comfort.</p>
                <a href="#">Read More</a>
            </div>
        </div>

         <div data-aos="fade-right" data-aos-duration="3000"   class="popular-product">
            <div class="popular-product-img">
                <img src="../static/images/product-3.png" alt="">
            </div>
            <div class="popular-product-info">
                <h3>Nordic Chair</h3>
                <p>Amazing chair to ensure your comfort</p>
                <a href="#">Read More</a>
            </div>
        </div>

     </section>
     <!--  Popular Product section end-->


     <!-- Blog section start -->
     <section class="blog">
        <div class="blog-main">
            <div class="blog-head">
                <h2>Recent Blog</h2>
                <a href="blog1.html">View All posts</a>
            </div>
            <div class="blog-cards">
                <div class="blog-card">
                    <img data-aos="fade-right" data-aos-duration="3000" src="../static/images/post-1.jpg" alt="">
                    <h4>First Time Owner Ideas</h4>
                    <p>
                        by <b>Adero Frank</b> on <b>April 25, 2024</b>
                    </p>
                </div>
                   <div class="blog-card">
                    <img src="../static/images/post-2.jpg" alt="">
                    <h4>First Time Owner Ideas</h4>
                    <p>
                        by <b>Adero Frank</b> on <b>April 25, 2024</b>
                    </p>
                </div>
                   <div class="blog-card">
                    <img data-aos="fade-left" data-aos-duration="3000" src="../static/images/post-3.jpg" alt="">
                    <h4>First Time Owner Ideas</h4>
                    <p>
                        by <b>Adero Frank</b> on <b>April 25, 2024</b>
                    </p>
                </div>
            </div>
        </div>
     </section>
     <!-- Blog section end -->


        <!-- SECTION I -->
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Signup For Newsletters</h4>
                <p>Get email updates about our latest shop and <span>special offers</span> </p>
            </div>

            <div class="form">
                <input type="email" name="" id="" placeholder="Enter Your email">
                <button class="normal">Signup</button>
            </div>
        </section>

      <!-- FOOTER -->
        <!-- SECTIONJ -->
        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="../static/images/logo.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address</strong>:412 Sare Awendo</p>
                 <p><strong>Phone</strong>:+254 111 222 333</p>
                  <p><strong>Hour</strong>:10:00-18:00 mon-sat </p>
                  <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                  </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Delivery Informatio</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Card</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>

            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store Google Play</p>
                <div class="row">
                    <img src="../static/images/app.jpg" alt="">
                    <img src="../static/images/play.jpg" alt="">
                </div>
                <p>Secure Payment Gateway</p>
                <img src="../static/images/pay.png" alt="">
            </div>

            <div class="copyright">
                <p>&copy; 2024 Ecommerce</p>
            </div>
        </footer>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init();
</script>


            <script>

            const btn = document.getElementById('menu-btn-nav');
            const overlay = document.getElementById('overlay');
            const menu = document.getElementById('mobile-menu');

            btn.addEventListener('click', navToggle);
            document.addEventListener('scroll', scrollPage);

            function navToggle() {
            btn.classList.toggle('open');
            overlay.classList.toggle('overlay-show')
            document.body.classList.toggle('stop-scrolling');
            menu.classList.toggle('show-menu');
        }

        </script>


</body>
</html>